# Ignore __pycache__ and .pyc files
__pycache__/
*.pyc

# Only track the imagens folder, the imagens JPEG folder and the python files
imagens/
imagens/JPEG/
*.py
__pycache__/functions.cpython-310.pyc
__pycache__/header.cpython-310.pyc
